@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.font{
    font-family: "Alex Brush", cursive;
}

html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #dc3545;
}