.container-bg{
    background-image: url('../img/register_img/bg_register.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}
div .box{
    background-color: rgba(255, 255, 255, 0.39);
    min-height: 400px;
}
div img{
    max-width: 250px;
}
form label{
    font-size: 20px;
}